require = io
require = os
require = string

function slurm_job_submit(job_desc, part_list, submit_uid)
    -- when upgrading to slurm 23.11 submit_uid is no longer an int but a float
    -- so we use math.floor() to convert it to int
    submit_uid = math.floor(submit_uid)

    local getent_answer, username, rc
    f = io.popen("getent passwd " .. submit_uid .. "| awk -F ':' {'print $1'}")
    getent_answer = f:read()
    f:close()
    if not getent_answer then
        slurm.log_error("failed to lookup uid " .. submit_uid)
        return slurm.FAILURE
    end
    username = getent_answer
    f = io.popen("sacctmgr show -n user " .. username)
    if not f:read() then
        rc = os.execute("sacctmgr add -i user " .. username ..
                        " DefaultAccount=root")
        if rc ~= 0 then
            slurm.log_error("could not add user " .. username)
            return slurm.FAILURE
        end
        slurm.log_info("added user " .. username)
    end
    f:close()
    return slurm.SUCCESS
end

function slurm_job_modify(job_desc, job_rec, part_list, modify_uid)
       return slurm.SUCCESS
end

slurm.log_info("initialized")
return slurm.SUCCESS
